.main

  .hero-unit.padded
    %h1 Nancy Bands
    %p
      Headbands that stay put.
    = link_to 'Browse Bands', bands_path, :class => 'btn btn-large browse_link'


  #carousel_container
    #myCarousel.carousel.slide
      %ol.carousel-indicators
        %li(data-target="#myCarousel" data-slide-to="0" class="active")
        %li(data-target="#myCarousel" data-slide-to="1")
        %li(data-target="#myCarousel" data-slide-to="2")
      <!-- Carousel items -->
      .carousel-inner
        .active.item 
          = image_tag 'bands.jpg'
          .carousel-caption
            %h4 Great gift
            %p
              Nancy bands make a great gift for the whole family
        .item 
          = image_tag 'bethany_band.jpg'
          .carousel-caption
            %h4 Stay put
            %p
              You can't get this little one to stay put but her headband isn't going anywhere
        .item 
          = image_tag 'more_bands.jpg'
          .carousel-caption
            %h4 Tons of great designs
            %p
              We have great designs that parents and children alike will love
      <!-- Carousel nav -->
      %a(class="carousel-control left" href="#myCarousel" data-slide="prev") &lsaquo;
      %a(class="carousel-control right" href="#myCarousel" data-slide="next") &rsaquo;

