/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */
$default_rounded_amount: 5px
// Round corner at position by amount.
@mixin round-corner($position, $amount: $default_rounded_amount)
  border-#{$position}-radius: $amount
  -webkit-border-#{$position}-radius: $amount
 
@mixin round-corner-mozilla($position, $amount: $default_rounded_amount)
  -moz-border-radius-#{$position}: $amount
 
// Round left corners by amount
@mixin round-left-corners($amount: $default_rounded_amount)
  @include round-corner("top-left", $amount)
  @include round-corner("bottom-left", $amount)
  @include round-corner-mozilla("topleft", $amount)
  @include round-corner-mozilla("bottomleft", $amount)
 
// Round right corners by amount
@mixin round-right-corners($amount: $default_rounded_amount)
  @include round-corner("top-right", $amount)
  @include round-corner("bottom-right", $amount)
  @include round-corner-mozilla("topright", $amount)
  @include round-corner-mozilla("bottomright", $amount)
 
// Round top corners by amount
@mixin round-top-corners($amount: 5px)
  @include round-corner("top-left", $amount)
  @include round-corner("top-right", $amount)
  @include round-corner-mozilla("topleft", $amount)
  @include round-corner-mozilla("topright", $amount)
 
// Round bottom corners by amount
@mixin round-bottom-corners($amount: $default_rounded_amount)
  @include round-corner("bottom-left", $amount)
  @include round-corner("bottom-right", $amount)
  @include round-corner-mozilla("bottomleft", $amount)
  @include round-corner-mozilla("bottomright", $amount)
 
// Round all corners by amount
@mixin round-corners($amount: $default_rounded_amount)
  border-radius: $amount
  -moz-border-radius: $amount
  -webkit-border-radius: $amount


.center
  text-align: center

.content
  padding: 20px
  padding-left: 40px
  margin-top: 20px

body
  .full
    width: 100%

  .padded
    padding-left: 20%
    padding-right: 20%
  .hero-unit
    position: relative
    color: #FFF
    background: darken(#FFC0CB, 10%)

    .browse_link
      position: absolute
      left: 20%
      bottom: -5%


  #carousel_container
    left: 50%
    margin-left: -400px
    position: relative


    background-color: darken(#FFC0CB, 10%)
    padding: 20px
    padding-bottom: 8px
    @include round-corners
    width: 800px

  #myCarousel

    width: 800px
    .item
      width: 800px
      height: 400px
      img
        width: 100%
  height: 100%
  min-height: 800px
  height: auto !important

  .gradient
    background-color: #FFF
    min-height: 800px

